.hg-mobile, .order-mobile {
    display: none !important;
}

.order-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    left: 75%;

    text-align: center;
}
  
.order-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 75%;
}

@media (max-width: 640px) and (min-width: 320px) {
    .hg-desktop, .order-overlay {
        display: none !important;
    }

    .hg-mobile, .order-mobile {
        display: block !important;
    }
}